
@import 'mediaqueries';

// Globals
html, body {
  height: 100%;
  .app {
    height: 100%;
    .content-container {
      height: 100%;
    }
    .page {
      height: 100%;
      background: rgba(red,0.2);
      margin: 4rem 0 1.5rem;
    }
  }
}


// Page : HOME
.page-home {
  section {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
  }
}


// Page : PLAY
.page-play {
  // Element : BOARD
  #board {
    border: 1px solid lightgrey;
    .sq {
      border: 1px solid darkgrey;
    }
  }
}
