
@import 'mediaqueries';

// Globals
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  height: 100%;
  .app {
    height: 100%;
    .content-container {
      height: 100%;
      padding-top: 4rem;
    }
    .page {
      height: 100%;
      margin: 4.5rem 0 2.5rem;
    }
  }
}


// Page : HOME
.page-home {
  section {
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
  }
}


// Page : PLAY
.page-play {

  $player-1: rgba(red, 0.25);
  $player-2: rgba(blue, 0.25);

  > div {
    background: white;
  }
  header {

  }

  // Element : PLAYER TURN
  section.player-turn {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.25rem;
    background-color: white;
    .player-name {
      padding: 1rem;
      &.player-2 {
        text-align: right;
      }
    }
    .player-1.active {
      background-color: $player-1;
    }
    .player-2.active {
      background-color: $player-2;
    }
  }


  // ELement : MESSAGES
  section.messages {
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    .message {
      position: relative;
      padding-top: 0.5rem;
      min-height: 3rem;
      .msg {
        position: absolute;
        display: block;
        width: 100%;
        padding: 0.25rem;
        opacity: 0.01;
        transform: translateY(2.5rem);
        transition: all 0.77s ease-out;

        &.show {
          opacity: 1;
          transform: translateY(0);
          transition: all 0.22s linear;
        }
        .icon {
          display: inline-block;
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0.25rem;
        }
      }
      .msg-start {
        background-color: rgba(green, 0.2);
      }
      .msg-warning {
        background-color: rgba(gold, 0.1);
      }
      .msg-congrats {
        background-color: rgba(green, 0.2);
      }
      .msg-hide {
        display: none;
      }
    }
    .reset-control {
      background-color: white;
      display: flex;
      align-items: stretch;
      justify-content: center;
      button.reset {
        width: 100%;
        color: white;
        background-color: #d43f3a;
        border: 0;
      }
    }
  }


  // Element : BOARD
  @import 'board';
  #board {
    width: 100%;
    // TODO : Calc with JS
    max-width: 400px;
    background: white;
    border: 1rem solid white;
    .sq {
      display: inline-block;
      width: 33.333%;
      height: 33.333%;
      span {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        &.x {
          background-color: $player-1;
          &::after {
            content: "X";
            font-size: 40px;
          }
        }
        &.o {
          background-color: $player-2;
          &::after {
            content: "O";
            font-size: 40px;
          }
        }
      }
    }
  }
}






























// Fin
