body {
  background: rgba(0, 0, 255, 0.2); }

@media (max-width: 1200px) {
  body {
    background: rgba(0, 128, 0, 0.2); } }
@media (max-width: 992px) {
  body {
    background: rgba(255, 255, 0, 0.2); } }
@media (max-width: 768px) {
  body {
    background: rgba(255, 165, 0, 0.2); } }
@media (max-width: 576px) {
  body {
    background: rgba(255, 0, 0, 0.2); } }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  height: 100%; }
  html .app, body .app {
    height: 100%; }
    html .app .content-container, body .app .content-container {
      height: 100%; }
    html .app .row, body .app .row {
      margin: 0; }
    html .app .page, body .app .page {
      height: 100%;
      background: rgba(255, 0, 0, 0.2);
      margin: 4.5rem 0 2.5rem; }

.page-home section {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem; }

.sq-1 {
  border-right: 0.25rem solid rgba(0, 0, 0, 0.33);
  border-bottom: 0.25rem solid rgba(0, 0, 0, 0.33); }

.sq-2 {
  border-right: 0.25rem solid rgba(0, 0, 0, 0.33);
  border-bottom: 0.25rem solid rgba(0, 0, 0, 0.33);
  border-left: 0.25rem solid rgba(0, 0, 0, 0.33); }

.sq-3 {
  border-bottom: 0.25rem solid rgba(0, 0, 0, 0.33);
  border-left: 0.25rem solid rgba(0, 0, 0, 0.33); }

.sq-4 {
  border-top: 0.25rem solid rgba(0, 0, 0, 0.33);
  border-right: 0.25rem solid rgba(0, 0, 0, 0.33);
  border-bottom: 0.25rem solid rgba(0, 0, 0, 0.33); }

.sq-5 {
  border-top: 0.25rem solid rgba(0, 0, 0, 0.33);
  border-right: 0.25rem solid rgba(0, 0, 0, 0.33);
  border-bottom: 0.25rem solid rgba(0, 0, 0, 0.33);
  border-left: 0.25rem solid rgba(0, 0, 0, 0.33); }

.sq-6 {
  border-top: 0.25rem solid rgba(0, 0, 0, 0.33);
  border-bottom: 0.25rem solid rgba(0, 0, 0, 0.33);
  border-left: 0.25rem solid rgba(0, 0, 0, 0.33); }

.sq-7 {
  border-top: 0.25rem solid rgba(0, 0, 0, 0.33);
  border-right: 0.25rem solid rgba(0, 0, 0, 0.33); }

.sq-8 {
  border-top: 0.25rem solid rgba(0, 0, 0, 0.33);
  border-right: 0.25rem solid rgba(0, 0, 0, 0.33);
  border-left: 0.25rem solid rgba(0, 0, 0, 0.33); }

.sq-9 {
  border-top: 0.25rem solid rgba(0, 0, 0, 0.33);
  border-left: 0.25rem solid rgba(0, 0, 0, 0.33); }

.page-play .messages {
  min-height: 2rem;
  border: 1px solid red; }
.page-play .board {
  position: relative; }
.page-play section.player-turn .player-name {
  border: 2px solid grey; }
  .page-play section.player-turn .player-name.active {
    border: 5px solid red; }
.page-play #board {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 400px;
  background: white;
  border: 1rem solid white; }
  .page-play #board .sq {
    display: inline-block;
    width: 33.333%;
    height: 33.333%; }
    .page-play #board .sq span {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .page-play #board .sq span.x {
        background-color: rgba(255, 0, 0, 0.25); }
        .page-play #board .sq span.x::after {
          content: "X";
          font-size: 40px; }
      .page-play #board .sq span.o {
        background-color: rgba(0, 128, 0, 0.25); }
        .page-play #board .sq span.o::after {
          content: "O";
          font-size: 40px; }

/*# sourceMappingURL=stylesheet.css.map */
